:root {
    /* Primary Colors */
    --clr-pink: hsl( 322, 100%, 66% );

    /* Neutral Colors */
    --clr-very-pale-cyan: hsl( 193, 100%, 96% );
    --clr-very-dark-cyan: hsl( 192, 100%, 9% );
    --clr-grayish-blue: hsl( 208, 11%, 55% );

    /* Body Copy */
    --fs: 18px;

    /* Heading Font */
    --ff-poppins: 'Poppins', sans-serif;

    /* Font Weight */
    --fw-600: 600;

    /* Body, Call-to-actions */
    --ff-open-sans: 'Open Sans', sans-serif;

    /* Font Weight */
    --fw-400: 400;
    --fw-700: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./images/bg-hero-desktop.svg);
    background-color: var(--clr-very-pale-cyan);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--ff-poppins);
    padding: 2rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    height: 50%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo > a {
    display: flex;
    align-items: center;
}

.logo > a > img {
    width: 200px;
    height: auto;
}

.nav_link {
    height: 100%;
}

.link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link > a {
    text-decoration: none;
    color: var(--clr-very-dark-cyan);
    font-weight: var(--fw-600);
    background-color: #fff;
    padding: 1rem 4.5rem;
    border-radius: 1.5rem;
    text-transform: capitalize;
}

.link > a:hover {
    opacity: 0.5;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-header-section {
    display: flex;
    align-items: center;
}

.header-content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header_header > h1 {
    text-transform: capitalize;
    font-size: 2.9rem;
    max-width: 90%;
}

.header-p > p {
    font-weight: var(--fw-600);
    font-size: var(--fs);
    max-width: 78%;
    line-height: 1.5;
}

.header_link > li {
    list-style: none;
}

.header_link > li > a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--clr-pink);
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: var(--fs);
    font-weight: var(--fw-600);
}

.header_link > li > a:hover {
    opacity: 0.6;
}

.right-header-section > picture > img {
    width: 100%;
    height: 100%;
}

.hero-section {
    padding: 5rem 0 1rem 0;
    font-family: var(--ff-open-sans);
}

.grow-together-section,
.flowing-conversation,
.you-user-section {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 2rem auto 0 auto;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.grow-together-section {
    margin-top: 0;
}

.flowing-conversation {
    flex-direction: row-reverse;
}

.grow-together-section > div,
.flowing-conversation > div,
.you-user-section > div {
    height: 350px;
    display: flex;
    align-items: center;
    width: 100%;
}

.grow_section,
.flowing_section,
.your_user_section {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 1rem;
    line-height: 2;
}

.grow_header > h1,
.flow_header > h1,
.your_user_header > h1 {
    font-weight: var(--fw-700);
    font-size: 35px;
    margin: 0 auto;
}

.grow_p > p,
.flow_p > p,
.your_user_p > p {
    font-size: 15px;
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-400);
}

.flowing_section {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.your_user_section {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.grow_section_img > img,
.flowing_conversation_img > img,
.you_user_img > img {
    width: 50%;
    height: 270px;
    margin: 0 auto;
}

.get-started-wrapper {
    position: relative;
    top: 120px;
    max-width: 650px;
    border-radius: 1rem;
    text-align: center;
    margin: 0 auto;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 1.5rem 0;
}

.get_started_header > h1 {
    text-transform: capitalize;
}

.get_started_link > ul > li {
    list-style: none;
}

.get_started_link > ul > li > a {
    color: #fff;
    font-weight: var(--fw-400);
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--clr-pink);
    padding: 1.2rem 3rem;
    border-radius: 2rem;
}

.get_started_link > ul > li > a:hover {
    opacity: 0.6;
}

footer {
    height: 550px;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    background-color: var(--clr-very-dark-cyan);
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 350px;
    color: #fff;
    max-width: 80%;
    margin: 0 auto;
}

.footer-logo {
    grid-column: 1 / 6;
}

.footer-contact {
    grid-column: 1 / 3;
}

.location,
.telephone,
.email {
    display: flex;
    height: 34%;
    align-items: center;
}

.location_icon,
.telephone_icon,
.email_icon {
    margin: 0 1rem;
}

.footer-about {
    grid-column: 3 / 4;
}

.footer-career {
    grid-column: 4 / 5;
}

.footer-socials {
    grid-column: 5 / 6;
}

.footer-about > ul,
.footer-career > ul,
.footer-socials > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65%;
    max-width: 50%;
    margin: 0 auto;
}

.footer-about > ul > li > a,
.footer-career > ul > li > a,
.footer-socials > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.footer-about > ul > li > a:hover {
    border-bottom: 1px solid #fff;
}

.footer-socials > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    justify-content: space-evenly;
}

.footer-socials > ul > li {
    border: 1px solid #fff;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
}


.copyright {
    grid-column: 1 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--clr-very-pale-cyan);
}

@media only screen and (max-width: 1280px) {
    .link > a {
        padding: 1rem 3.5rem;
        border-radius: 2rem;
    }

    .header-content {
        height: 300px;
    }

    .header_header > h1 {
        font-size: 2.2rem;
    }

    .header-p > p {
        font-size: 16px;
        max-width: 78%;
    }

    .header_link > li > a {
        font-size: 13px;
    }

    .grow_header > h1,
    .flow_header > h1,
    .your_user_header > h1 {
        font-size: 22px;
    }

    .grow_p > p,
    .flow_p > p,
    .your_user_p > p {
        font-size: 10px;
    }

    .grow_section,
    .flowing_section,
    .your_user_section {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 320px;
        margin: 0 auto;
        padding: 0 1rem;
        line-height: 2;
    }

    .grow_section_img > img,
    .flowing_conversation_img > img,
    .you_user_img > img {
        width: 80%;
        height: 270px;
        margin: 0 auto;
    }

    .get_started_header > h1 {
        font-size: 1.2rem;
    }
    .get_started_link > ul > li > a {
        font-size: 0.8rem;
    }

    .location > p,
    .telephone > p,
    .email > p {
        font-size: 0.8rem;
    }

    .footer-about > ul > li > a,
    .footer-career > ul > li > a,
    .footer-socials > ul > li > a {
        font-size: 0.7rem;
    }

    .footer-socials > ul {
        max-width: 75%;
    }

    .footer-socials > ul > li {
        padding: 0.3rem;
    }

    .location > p {
        font-size: 0.6rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 800px)  {
    .link > a {
        padding: 1rem 2.5rem;
        border-radius: 2rem;
    }

    .header_header > h1 {
        font-size: 1.8rem;
    }

    .header-p > p {
        font-size: 13px;
        max-width: 78%;
    }

    .header_link > li > a {
        padding: 1rem 1.5rem;
        font-size: 10px;
    }

    .grow_section_img > img,
    .flowing_conversation_img > img,
    .you_user_img > img {
        width: 90%;
        height: 270px;
        margin: 0 auto;
    }

    .footer-about > ul,
    .footer-career > ul,
    .footer-socials > ul {
        max-width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    header {
        background-image: url(./images/bg-hero-mobile.svg);
        background-color: var(--clr-very-pale-cyan);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo > a > img {
        width: 5rem;
    }

    .link > a {
        padding: 1rem;
        font-size: 0.7rem;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .left-header-section {
        grid-column: 1 / 3;
        text-align: center;
    }

    .header_header > h1 {
        font-size: 2rem;
        max-width: 100%;
    }

    .header-p > p {
        max-width: 100%;
        font-size: 0.9rem;
    }

    .right-header-section {
        grid-column: 1 / 3;
    }

    .grow_header > h1,
    .flow_header > h1,
    .your_user_header > h1 {
        font-weight: var(--fw-700);
        font-size: 25px;
        margin: 0 auto;
    }

    .grow_p > p,
    .flow_p > p,
    .your_user_p > p {
        font-size: 14px;
    }

    .grow_section_img > img,
    .flowing_conversation_img > img,
    .you_user_img > img {
        width: 80%;
        height: 80%;
    }

    .grow-together-section,
    .flowing-conversation,
    .you-user-section {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        max-width: 80%;
    }

    .grow_section,
    .flowing_section,
    .your_user_section {
        max-width: 80%;
        text-align: center;
    }

    footer {
        height: 700px;
    }
    
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 500px;
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-contact {
        grid-column: 1 / 6;
    }
    .footer-about {
        grid-column: 1 / 6;
    }
    
    .footer-career {
        grid-column: 1 / 6;
    }
    
    .footer-socials {
        grid-column: 1 / 6;
    }

    .footer-about > ul,
    .footer-career > ul,
    .footer-socials > ul {
        height: 100%;
        max-width: 100%;
    }

    .footer-socials > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 30%;
        justify-content: space-evenly;
        height: 60px;
    }

    .copyright {
        text-align: center;
    }

    .copyright > p {
        width: 100%;
    }
}